<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.addDueDate"/>
        <activity android:name=".activity.PiGraphView"/>
        <activity android:name=".activity.GraphView"/>
        <activity android:name=".activity.QuestActivity"/>

        <service
            android:name=".service.CountDownService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MonitorAppsService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/detection_service_config" />
        </service>

        <receiver
            android:name=".receiver.UpdateTimerReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.MonitorAppsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.myapplication.service.MonitorAppsService.openApp" />
                <action android:name="com.example.myapplication.service.MonitorAppsService.closeApp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NotifyUserReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.CountDownFinishReceiver"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>